.placeDesc{
    margin-bottom: 10px;
}

.bookButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 50%;
}

.image-row{
    display: flex;
    justify-content: center;
    align-items: center;
}